.export_btn,.search_btn {
    background: #479C88;
    border: none;
}
.export_btn:hover,.search_btn:hover{
    background: #1f856d;
}
.dropdown_btn {
    /* background: none !important; */
    /* border: none; */
    /* color: blue; */
    font-size: 20px;
}

.dropdown-toggle::after {
   font-size: 20px;
}

.dropdown_btn:hover {
    color: blue !important;
}
.filters{
    background-color: #3D5B59;
    padding: 20px;
    margin-top: 20px;
}
.filters button{
    background-color: #FCB5AC ;
    border: none;
    /* font-size: 25px; */
    /* color: #3D5B59; */
}

.filters svg{
    font-size: 25px;
}
